
body{
    color: rgba(0, 0, 0, 0.747);
    font-size: 100%;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background: radial-gradient(circle, rgba(126, 104, 184, 0.76), gray) ;
}
nav{
    border-radius:0.4rem;
}
.nav-item{
    align-items:center;
    font-size:min(2vw, medium);
    margin-left:1.5rem;
    margin-right:1.5rem;
    color: white;
}
.nav-link{
    color:rgba(238, 231, 231, 0.945);
    padding:0.1rem;
}

.jumbotron{
    color:rgba(212, 227, 243, 0.938);
    background:#312d2df1;
}

a:hover{
    color:black;
}
.btn{
    font-size:100%;
}
.bar{
    font-weight:500;
}

.contact{
    text-align:center;
}

.col-padded{
    padding: 1rem 1rem 1rem 1rem;
}

.btn-group{
    margin:auto;
    color:white;
}
.figure{
    width: 80%;
    text-align:center;
}

.img-fluid{
    width: 75%;
    margin: 2rem 0rem 2rem 0rem;
    border-radius:1%;
}

.container{
    text-align: left;
    width: 100%;
}
.pdfcontainer{
    text-align : center;
    height: 100rem;
}

.resume{
    margin-top : 0.5%;
    margin-right : 5%;
    margin-left : 5%;
}
.resume{
    color:rgba(190, 208, 226, 0.938);
    font-family:"Helvetica Neue",Verdana, Geneva, Tahoma, sans-serif;
    font-size:0.95rem;
    border-radius:0.3rem;
    border-color:#dde6e9;
    background-color:#312d2df1;;
}
.resumeName{
    font-size:1.5rem;
}

.resumeName,.resumeEmployer,.resumeSchool{
    text-align:center;
    font-weight:bold;
}
.resumeContact,.resumeDate{
    text-align:right;
}
.resumeDate{
    font-weight:bold;
}
hr{
    margin:0;
    border-color:rgb(54, 49, 40);
}
.nearhr{
    margin:0;
}
.card{
    width: 20rem;
    height:fit-content;
}
div.d-flex a.btn-dark{
    color: rgba(238, 231, 231, 0.945) !important;
    margin:2px;
}

.lines{
    border-style:solid;
    border-color: rgba(150, 141, 141, 0.945);
    border-width: 1px;
    margin:2px;
    background-color: rgb(9, 123, 168);
}